.project__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;

  width: 100%;
  height: 100%;
  padding: 20px;

  border-radius: 10px;
  

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 50% 50%,
    rgba(121, 121, 121, 1) 0%,
    rgba(12, 12, 12, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 50%,
    rgba(121, 121, 121, 1) 0%,
    rgba(12, 12, 12, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 50%,
    rgba(121, 121, 121, 1) 0%,
    rgba(12, 12, 12, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 50%,
    rgba(121, 121, 121, 1) 0%,
    rgba(12, 12, 12, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 50%,
    rgba(121, 121, 121, 1) 0%,
    rgba(12, 12, 12, 1) 100%
  );

  .project__title {
    font-size: 2rem;
    font-weight: 700;
  }
  .project__subtitle {
    font-size: 1rem;
    font-weight: 500;
  }

  .project__image {
    position: relative;
    width: 700px;
    z-index: 0;
  }
  .project__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

  }

  .project__content {
    


    margin-top: 20px;
    width: 90%;
  }
}
