// Colors

$white: rgba(255, 255, 255, 0.95);
$black: rgba(0, 0, 0, 0.5);
$grey: rgba(113, 113, 113, 0.5);

$links-color: #FF847C;
// Fonts

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$navbar-font-family: "Karla", Arial, sans-serif;
// function variables

@mixin gradient($color_1,$color_2){

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, $color_1 0%, $color_2 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, $color_1 0%, $color_2 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, $color_1 0%, $color_2 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, $color_1 0%, $color_2 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, $color_1 0%, $color_2 100%);

}