:root {
  --box-color: rgb(23, 23, 23);
}

a{
  text-decoration: none;
  color: var(--white);
}
section.works-section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 850px;
  background-color: black;
  color: rgb(250, 255, 255);

  .column {
    flex: 1;
  }

  .column-first {
    margin-left: 5%;

    .works-list ul {
      list-style: none;

      .works-list__item__container {
        border: rgb(103, 103, 103) solid 1px;
        // padding: 10px;
        width: 70%;

        
      }

      .works-list__btn{
        transform: scale(0.8);

        cursor: pointer;
      }

    }
  }

  .column-second {
    margin-right: 5%;

    .project-cards {
      position: relative;
    }
  }
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  border-radius: 10px;

  .box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    background-color: var(--box-color);
    border-radius: inherit;
    padding: 10px 0px;

    margin: 1px;

    height: 100%;
    width: 100%;
    z-index: 2;

  }
}

.box::before,
.box::after {
  position: absolute;

  opacity: 0;
  transition: opacity 500ms;

  border-radius: inherit;
  content: "";

  height: 100%;
  width: 100%;

  padding: 1px;

  // left = -padding + 1
  left: 0px;

  // top = -padding
  top: -1px;
}

.box::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.box::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.works-section:hover .box::after {
  opacity: 1;
}

.box:hover::before {
  opacity: 1;
}

// animations

.fade_in{
  animation: fadeIn 1s ease 0s 1 normal forwards;
}

.fade_out{
  animation: fadeOut 1s ease 0s 1 normal forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}