section.works-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;

    width: 100%;
    height: 100vh;
    background-color: black;
    color: rgb(250, 255, 255);
}


.project-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.works-list ul{
    list-style: none;
}


