@import "../../styles/sass/variables.scss";

.scroller-section {
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

}
