section.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--dark-blue);
  flex-flow: column;
  color: var(--white);
}

.footer__top {
  flex: 3;
  padding: 50px;

  display: flex;
}

.footer__top__left {
  flex: 2;

  display: flex;

  position: relative;
  align-items: center;
  justify-content: center;

  //   width: 100%;

  form {
    // flex: 1;
    height: 100%;
    align-self: center;

    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;

    .form__userinfo {
      display: flex;

      gap: 50px;

      .form__name,
      .form__email {
        width: 250px;
        height: 35px;
        font-size: 1rem;
      }
    }

    .form__message__container {
      .form__message {
        resize: none;
        font-size: 0.9rem;
      }
    }

    .form__buttons {
      display: flex;
      gap: 20px;

      input {
        padding: 10px;
        height: 50px;
        width: 150px;

        color: var(--white);
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      input:hover {
        border: 1px solid var(--white);

      }

      input[type="submit"] {
        background-color: var(--white);
        color: var(--dark-blue);
      }

      input[type="submit"]:hover {
        background-color: transparent;
        color: var(--white);
      }
    }

    .form__success_message{
        color: rgb(63, 169, 22);
    }
  }
}

.footer__top__right {
  flex: 1;
  display: flex;
    align-items: center;
    justify-content: center;
  p{
    font-size: 2.5em;
    font-weight: 200;
  }
}

.footer__bottom {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  ul {
    display: flex;
    gap: 10px;
    li {
      display: inline-block;
      cursor: pointer;
    }
  }


}
