@import "../../styles/sass/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  // width: 50%;
}

.navbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid black;
  padding: 5px;
  margin: 5px;

  align-self: center;

  cursor: pointer;

  .logo--desktop,
  .logo--mobile {
    font-family: $navbar-font-family;
    font-size: 25px;
    color: black;
  }

  .logo--mobile{
    display: none;
  }
}

/* responsivness */

/* desktop devices */
@media (min-width: 1281px) {
}

/* tablet devices */
@media (min-width: 769px) {
}

/* mobile devices */
@media (max-width: 768px) {
    .navbar-icon {
        .logo--desktop{
            display: none;
        }
      
        .logo--mobile{
          display: block;
        }
      }
}
