*{
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Colors */
  --white: rgba(255, 255, 255, 0.95);
  --black: rgba(0, 0, 0, 0.5);
  --links-color: #FF847C;
  --dark-blue: rgba(36,41,67,1);
  

}

