@import "../../styles/sass/variables.scss";

@mixin slide() {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;

  background-size: cover;
  background-position: center;

  border-radius: 30px;
  margin: 30px;

  .slide__content {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;

    width: 90%;
    height: 100%;
    .title {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
    }

    .description {
      width: 70%;
      text-align: center;

      font-size: 1.3em;
      font-weight: 300;

      margin-bottom: 20px;
    }
  }
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .slider {
    display: flex;
    width: 2000px;
    height: 320px;
    align-items: center;
    justify-content: center;

    .slide_active {
      @include slide();
      // @include gradient_center(rgba(87, 87, 87,0.8), $white);
      position: relative;

      // height: 100%;
      // width: 100%;

      margin: 30px;
      // font-size: 1em;
      backdrop-filter: blur(5px);

      animation-name: slide_zoom_in;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    .slide_inactive {
      @include slide();

      @include gradient_center(rgb(158, 158, 158), $white);
      height: 50%;
      width: 50%;
      filter: blur(3px);
      font-size: 0.5em;

      animation-name: slide_zoom_out;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    .slider__content {
      width: auto;
      height: auto;
    }
  }
}

@keyframes slide_zoom_out {
  0% {
    @include gradient_center(rgb(87, 87, 87), $white);
    height: 100%;
    width: 100%;
    font-size: 1em;
  }

  25% {
    @include gradient_center(rgb(102, 102, 102), $white);

    height: 90%;
    width: 90%;
    filter: blur(1px);
    font-size: 0.9em;
  }

  50% {
    @include gradient_center(rgb(116, 116, 116), $white);

    height: 80%;
    width: 80%;
    filter: blur(2px);
    font-size: 0.8em;
  }
  75% {
    @include gradient_center(rgb(130, 130, 130), $white);

    height: 70%;
    width: 70%;
    filter: blur(3px);
    font-size: 0.7em;
  }

  100% {
    @include gradient_center(rgb(144, 144, 144), $white);

    height: 60%;
    width: 60%;
    filter: blur(3px);
    font-size: 0.6em;
  }
}

@keyframes slide_zoom_in {
  0% {
    @include gradient_center(rgb(144, 144, 144), $white);

    height: 60%;
    width: 60%;
    filter: blur(3px);
    font-size: 0.6em;
  }

  25% {
    @include gradient_center(rgb(130, 130, 130), $white);

    height: 70%;
    width: 70%;
    filter: blur(3px);
    font-size: 0.7em;
  }

  50% {
    @include gradient_center(rgb(116, 116, 116), $white);

    height: 80%;
    width: 80%;
    filter: blur(2px);
    font-size: 0.8em;
  }
  75% {
    @include gradient_center(rgb(102, 102, 102), $white);

    height: 90%;
    width: 90%;
    filter: blur(1px);
    font-size: 0.9em;
  }

  100% {
    @include gradient_center(rgb(87, 87, 87), $white);
    height: 100%;
    width: 100%;
    font-size: 1em;
  }
}
